# Ignore all directories
/*

# Except the following directories
!analysis/*
!analysis/*/*
!code/*
!code/*/data_setup/*
!code/*/analysis_files/*
!docs/*
!docs/*/*

# Ignore the following file tpyes

# Except the following file types
!*.md

# in subdirectories


# Ignore the following files
boston_zoning.code-workspace

